
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    color: #333;
    overflow: hidden;
  }
  

  #container {
    display: flex;
    flex-direction: row; 
    height: 100vh;
  }
  

#sidebar {
  flex: 1;
  background: #f0f0f0;
  padding: 2rem 1rem;
  overflow-y: auto;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  transition: width 0.3s ease, padding 0.3s ease;
  scroll-behavior: smooth;
  width: 250px;
  position: relative;
  z-index: 1;
}

  #maparea {
    flex: 2;
    height: 100vh;
  }
  
  #map1 {
    width: 100%;
    height: 100%;
  }

  header {
    background: linear-gradient(90deg, #005a87, #0088a9);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
  
  
  h2 {
    margin: 1.5rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #005a87; 
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  

  #intro, #data {
    background: white;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    line-height: 1.7;
    text-align: center;
  }
  .intro-card {
    background: #ffffff; 
    padding: 2rem; 
    margin-bottom: 2rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    line-height: 1.8; 
    color: #333;
    font-family: 'Arial', sans-serif; 
  }
  
  .intro-card h1 {
    font-size: 1.8rem; 
    font-weight: bold;
    color: #005a87; 
    margin-bottom: 1rem;
    text-align: center; 
  }
  
  .intro-card p {
    font-size: 1rem; 
    margin-bottom: 1rem; 
    text-align: justify; 
  }
  
  .intro-card b {
    color: #005a87;
  }

  form#cityFiltersForm {
    background: white;
    max-width: 600px;
    margin: 0 auto 2rem auto;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  form label {
    font-weight: 500;
    display: block;
    margin-bottom: 1rem;
    color: #444;
    font-family: 'Arial', sans-serif;
  }
  
  form input[type="range"] {
    width: 80%;
    margin-top: 0.5rem;
  }
  

  @media (max-width: 768px) {
    #container {
      flex-direction: column;
    }
  
    #maparea {
      height: 100%; 
    }
  }
  .popup-table {
    font-family: Arial, sans-serif;
    font-size: 13px;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
  }
  
  .popup-table td, .popup-table th {
    padding: 4px 6px;
    text-align: left;
  }
  .popup-table td {
    padding: 3px;
    text-align: right;
  }
  .popup-table tr:hover {
    background-color: #f1f1f1;
  }
  .popup-green {
    color: limegreen;
  }
  
  .popup-lightgreen {
    color: #91cf60;
  }
  
  .popup-yellow {
    color: #fec44f;
  }
  
  .popup-red {
    color: #de2d26;
  }

  #layerStyleSelect {
    font-size: 14px;
    padding: 4px 8px;

    width: 100%;
    background-color: white;
  }
  .factor-selector {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);   
    gap: 10px;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%; 
    box-sizing: border-box; 
    font-family: 'Arial', sans-serif;
  }
  
  .factor-box {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .factor-box:hover {
    background-color: #e0e0e0;
  }

  /* Slider container for spacing */



